* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(183, 201, 231);
  text-align: center;
  color: black;
  border-radius: 10px;
}
h1:hover {
  transform: scale(1.5);
  transition: 5s;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  border-radius: 10px;
}
h2:hover {
  transform: scale(0.8);
  transition: 3s;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
  text-align: center;
  color: black;
}
h3:hover {
  transform: scale(2);
  transition: 3s;
}

.bordes-redondeados {
  border-radius: 10px;
}

@media (max-width: 670px) {
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 201, 231);
    text-align: center;
    color: black;
    border-radius: 10px;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.main-index {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: cornflowerblue;
}
.main-index .considerar {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-index .informacion {
  background-color: rgb(125, 159, 223);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 15px;
}

@media (max-width: 670px) {
  .main-index {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: cornflowerblue;
    padding: 25px;
  }
  .informacion {
    background-color: rgb(125, 159, 223);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.informacion {
  background-color: rgb(125, 159, 223);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 15px;
}

.mensajeria {
  background-color: rgb(183, 201, 231);
}

@media (max-width: 600px) {
  .informacion {
    background-color: rgb(125, 159, 223);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.problemas {
  display: flex;
  background-color: cornflowerblue;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  padding: 15px;
}

.problemas img {
  max-width: 525px;
}

.ubicanos {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  padding: 15px;
  justify-items: start;
}

.ubicanos div p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: rgb(125, 159, 223);
}

@media (max-width: 670px) {
  .problemas {
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    padding: 15px;
  }
  .problemas img {
    width: 250px;
    margin: auto;
  }
  .mapa {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.main-rueda {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: 125, 159 223;
}

.main-rueda img {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.main-rueda .text {
  text-align: center;
  background-color: 125 159 223;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

@media (max-width: 600px) {
  .main-rueda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
  }
  .main-rueda .text {
    text-align: center;
    background-color: rgb(125, 159, 223);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  padding: 25px;
  color: black;
  flex-direction: column;
}

.container img {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.parraf {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.beneficio {
  border: cornflowerblue solid 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 15px;
}
.beneficio .beneficio div {
  border-color: black solid 3px;
}
.beneficio .beneficio div p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 670px) {
  .beneficio {
    border: cornflowerblue solid 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
  }
  .parraf {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
}
.footer-base {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #4669ab;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-items: center;
}

@media (max-width: 600px) {
  .footer-base {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4669ab;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-items: center;
    font-size: 12px;
  }
}
.main-estilo {
  max-width: 80%;
  margin: auto;
}

.main-estilo {
  max-width: 80%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

#protocolo {
  display: none;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(183, 201, 231);
  text-align: center;
  color: black;
  border-radius: 10px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  border-radius: 10px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  background-color: cornflowerblue;
  text-align: center;
  color: black;
}

.main-rueda {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

.rueda img {
  width: 50%;
  margin-bottom: 10px;
}

.text {
  width: 100%;
  text-align: left;
  background-color: rgb(125, 159, 223);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  background-color: cornflowerblue;
  padding: 25px;
  color: black;
  flex-direction: column;
}

.container img {
  width: 80%;
  margin: 10px;
  padding: 10px;
}

.parraf {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.main-index {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: cornflowerblue;
  padding: 25px;
}

.considerar {
  padding: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.problemas {
  display: flex;
  background-color: cornflowerblue;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  flex-direction: column;
  padding: 15px;
}

.problemas img {
  max-width: 525px;
}

.ubicanos {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  padding: 15px;
  justify-items: start;
}

.ubicanos div p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: rgb(125, 159, 223);
}

.mensajeria {
  background-color: rgb(183, 201, 231);
}

.main-estilo {
  max-width: 80%;
  margin: auto;
}

.informacion {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 15px;
}

.beneficio {
  border: cornflowerblue solid 3px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 15px;
}

.beneficio div {
  border-color: black solid 3px;
}

.beneficio div p {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.base {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: darksalmon;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-items: center;
}

.protoco p {
  font-family: Arial, Helvetica, sans-serif;
}

.navegador {
  font-size: 15px;
}

@media (max-width: 670px) {
  nav li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 10px;
  }
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(183, 201, 231);
    text-align: center;
    color: black;
  }
  h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    border-radius: 10px;
    font-size: 12px;
  }
  .main-index {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: cornflowerblue;
    padding: 25px;
  }
  .informacion {
    background-color: rgb(125, 159, 223);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
  }
  .base {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #4669ab;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-items: center;
    font-size: 12px;
  }
  .navegador {
    font-size: 10px;
  }
  .problemas {
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    padding: 15px;
  }
  .problemas img {
    width: 250px;
    margin: auto;
  }
  .mapa {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }
  .mapa iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .container {
    margin-top: 80px;
    display: flex;
    background-color: cornflowerblue;
    padding: 25px;
    color: black;
    flex-direction: column;
  }
  .parraf {
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .beneficio {
    border: cornflowerblue solid 3px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
  }
}/*# sourceMappingURL=estilo.css.map */