.main-informacion {
  background-color: cornflowerblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 120px 120px;
  column-gap: 20px;
  row-gap: 20px;
  padding: 15px;
}

.main-informacion .informacion div p {
  font-size: 1rem;
  font-family: $font2;
}

.main-informacion .mensaje {
  display: flex;
  justify-content: space-around;
  background-color: cornflowerblue;
}

@media (max-width: 600px) {

  .main-informacion {
    background-color: cornflowerblue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 120px 120px;
    column-gap: 20px;
    row-gap: 20px;
    padding: 15px;
}


}