.footer-base {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #4669ab;
    font-family: $font2;
    align-items: center;
    justify-items: center;
  }


  @media (max-width: 375px){

    .footer-base {
      display: grid;
      grid-template-columns: 1fr;
      background-color: darksalmon;
      font-family: $font2;
      align-items: center;
      justify-items: center;
      font-size: 12px;
    }
  }