.main-estilo {
    max-width: 80%;
    margin: auto;
}

.main-index {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: cornflowerblue;


    .considerar{
        padding: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .informacion {
        background-color: rgb(125, 159, 223);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding: 15px;
    }

}

@media (max-width: 670px) {


    .main-index {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: cornflowerblue;
        padding: 25px;
    }

    .informacion {
        background-color: rgb(125, 159, 223);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding: 15px;
    }
}