 .main-rueda {
   display: flex;
   text-align: center;
   flex-direction: column;
   background-color:  rgb(125, 159, 223);
   

   .text {
     width: 100%;
     text-align: left;
     background-color: rgb(125, 159, 223);
     font-family: $font2;
   }
 }

 @media (max-width: 375px) {
  .main-rueda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    flex-direction: row;
 }
 }

  
